= form_for @feed do |f|
  - if flash[:new_feed_form_error].present?
    .error
      = fa_icon 'exclamation-triangle'
      = flash[:new_feed_form_error]
    %br

  = f.label :url, 'URL'
  %br
  %span.metadata Uniform Resource Locator
  %br
  = f.text_field :url, autofocus: true, required: true
  %br
  = f.submit 'Add Feed'
